<html>
<body background="mario.jpg">
<h2> Welcome to host            : {{ansible_hostname}}</h2>
<h2> Host IP Address            : {{ansible_all_ipv4_addresses}}</h2>
<h2> OS Family                  : {{ansible_os_family}}</h2>
<h2> Brought to you by          : Ansible Deployment </h2>
</body>
</html>

